
.git
.github
.idea
.claude
.ai
.local
.env
.DS_Store


allure-docker-api
allure-docker-scripts
allure-docker-api-usage
docker
docker-compose-dev.yml
tests
resources


docs


main
allure-service
*.test
